{{define "content"}}
{{template "breadcrumbs" .}}
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2>Tạo phan loại</h2>
			</div>
					<div class="col-md-3 account-left">
					<form action="/dashboard/categories" method="post">
							<input type="text" placeholder="Tên loại" name="name">
							<div class="submit-btn">
								<input type="submit" value="TẠO"></div>
						</form>
					</div>	
					<div class="clearfix"></div>
		</div>
	</div>
{{ end }}
