{{define "content"}}
{{template "breadcrumbs" .}}
<div class="contact">
	<div class="container">
		<div class="contact-top heading">
			<h2>CREATE PRODUCT</h2>
		</div>

		<div class="col-md-12 account-left">
			<div class="col-md-2" style="height:300px;margin-right:37px;">
				Chọn ảnh 1: <br>
				<form id="form-image0" action="/dashboard/images/upload" method="post" enctype="multipart/form-data" target="hiddenFrame">
					<input id="image0" type="file" name="files" accept="image/*" onchange="readURL(this);"><br>
					<img id="preview-image0" src="" alt="your image" />
				</form>
			</div>
			<div class="col-md-2" style="height:300px;margin-right:37px;">
				Chọn ảnh 2: <br>
				<form id="form-image1" action="/dashboard/images/upload" method="post">
					<input id="image1" type="file" name="files" accept="image/*" onchange="readURL(this);"><br>
					<img id="preview-image1" src="" alt="your image" />
				</form>
			</div>
			<div class="col-md-2" style="height:300px;margin-right:37px;">
				Chọn ảnh 3: <br>
				<form id="form-image2" action="/dashboard/images/upload" method="post">
					<input id="image2" type="file" name="files" accept="image/*" onchange="readURL(this);"><br>
					<img id="preview-image2" src="" alt="your image" />
				</form>
			</div>
			<div class="col-md-2" style="height:300px;margin-right:37px;">
				Chọn ảnh 4: <br>
				<form id="form-image3" action="/dashboard/images/upload" method="post">
					<input id="image3" type="file" name="files" accept="image/*" onchange="readURL(this);"><br>
					<img id="preview-image3" src="" alt="your image" />
				</form>
			</div>
			<div class="col-md-2" style="height:300px;margin-right:37px;">
				Chọn ảnh 5: <br>
				<form id="form-image4" action="/dashboard/images/upload" method="post">
					<input id="image4" type="file" name="files" accept="image/*" onchange="readURL(this);"><br>
					<img id="preview-image4" src="" alt="your image" />
				</form>
			</div>
			<div class="col-md-12">

				<div class="col-md-6 account-left">
					<form action="/dashboard/products" method="post">
						<input placeholder="Product name" type="text" tabindex="1" required name="name">
						<select name="categoryId" tabindex="2" required>
							<option value="" disabled selected>Category</option>
							{{ range $index, $category := $.Categories  }}
							<option value="{{ $category.Id }}">{{ $category.Name }}</option>
							{{ end }}
						</select>
						<input placeholder="Price" type="text" tabindex="3" required  name="pricetext" onkeyup="priceFormat(this)"/>
						<input type="number" style="display:none" required  name="price" id="trueprice"/>
						<textarea placeholder="Description" value="" type="text" tabindex="4" required="" name="desc"></textarea>

						<input type="checkbox" name="active" value="true" checked>Còn hàng<br>

						<input id="url-image0" type="text" name="image0" style="display:none;">
						<input id="url-image1" type="text" name="image1" style="display:none;">
						<input id="url-image2" type="text" name="image2" style="display:none;">
						<input id="url-image3" type="text" name="image3" style="display:none;">
						<input id="url-image4" type="text" name="image4" style="display:none;">
						<div class="submit-btn">
							<input type="submit" value="SUBMIT" tabindex="4">
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		</article>

	</div>
</div> 
<script type="text/javascript">
function readURL(input) {
	var inputId = input.id
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				console.log(inputId)
					$('#preview-'+inputId)
					.attr('src', e.target.result)
					.width(210)
					.height(210);

			};

			reader.readAsDataURL(input.files[0]);
		}

	$('#form-'+inputId).ajaxForm(function(data) { 
		var url = data.data[0].url; 
		$('#url-'+inputId).val(url)
	}); 

	$('#form-'+inputId).submit()
};

function priceFormat(input) {
	var ele = $( input  );
	var value = ele.val();

	var ovalue = value.replace(/[\D\s\._\-]+/g, "");

	value = ovalue ? parseInt( ovalue, 10  ) : 0;

	ele.val( function() {
		return ( value === 0  ) ? "" : value.toLocaleString("en-US");
	}  );

	var truePrice = $('#trueprice');
	trueprice.value  = parseFloat(ovalue)
	console.log(trueprice.value)

};
</script>
<script src="/static/js/jquery.form.js"></script> 

<iframe  id="concac" name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
<style>
img[src=""] {
	display: none;

}
</style>
</div>	
</div>
{{ end }}


