{{define "content"}}
<div class="container">
	<div class="row topspace">
		<div class="col-sm-12">
			{{ with $product := .Product  }}
			<article class="post">
				<div class="col-md-12">
					<div class="col-md-1 small-imgs">
						{{ range $index, $imageUrl := $product.Images  }}

						<img src="{{ $imageUrl }}" alt="..." class="img-rounded small-product-img" onclick=image(this)>

						{{ end }}
					</div>
					<div class="col-md-4 large-product-img">
						<img src="{{ index $product.Images 0 }}" alt="..." style="width:100%;" class="img-rounded" id="large-img">
					</div>
					<div class="col-md-5">
						<div class="row product-name">
							{{ $product.Name }}
						</div>
						<div class="row">
							<hr/>
						</div>
						<div class="row product-name">
							{{ $product.Description }}
						</div>
						<div class="product-price row">
							{{ $product.Price }}
						</div>
						<div class="product-contact row">
							Lien he ngay: &#43;234 23 9873237
						</div>
					</div>
				</div>
			</article>
			{{ end }}
		</div> 
	</div>	
</div>	
<script type="text/javascript">
function image(img) {
	var src = img.src;
	document.getElementById("large-img").src=src;

}
</script>
{{ end }}
