{{ define "account" }}
	<div class="account">
		<div class="container">
		<div class="account-top heading">
			<h2>ĐĂNG NHẬP</h2>
			<div class="account-main">
				<div class="col-md-6 account-left">
					<div class="account-bottom">
					<form action="/user/login" method="post">
						<input placeholder="Email" type="text" tabindex="3" name="username" required>
						<input placeholder="Password" type="password" tabindex="4" name="password" required>
						<div class="address">
							<a class="forgot" href="#">Quên mật khẩu?</a>
							<input type="submit" value="Đăng nhập">
						</div>
					</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	</div>
{{ end }}
