{{ define "bottom-header" }}
<div class="header-bottom">
	<div class="container">
		<div class="header">
			<div class="col-md-9 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue"><li class="active"><a href="/">Home</a></li>
						<li class="grid"><a href="#">Danh mục sản phẩm</a>
							<div class="mepanel">
								<div class="row">
									<div class="col1 me-one">
										<h4>Phan loại</h4>
										<ul>
										{{ with $g := . }}
											{{ range $index, $category := $g.Categories}}
											<li><a href="{{ $category.Url }}">{{ $category.Name }}</a></li>
											{{ end }}
										{{ end }}
										</ul>
									</div>
								</div>
							</div>
						</li>
						{{if .IsAdmin}}
						<li>
							<a href="/dashboard/product-list">Quản lí</a>
						</li>
						<li>
							<a href="/dashboard/create-product">Tạo sản phẩm</a>
						</li>
						<li>
							<a href="/dashboard/create-category">Tạo phan loại</a>
						</li>
						{{else}}
						<li>
							<a href="/user/login">Đăng nhập</a>
						</li>
						{{end}}
						<li>
							<a href="/contact/">Liên hệ</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 header-right"> 
				<div class="search-bar">
					<input type="text" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
					<input type="submit" value="">
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
{{ end }}
