{{ define "information" }}
	<div class="information">
		<div class="container">
			<div class="infor-top">
				<div class="col-md-5 infor-left">
					<h3>Theo dõi để cập nhật hàng giá tốt nhất</h3>
					<ul>
						<li><a href="https://www.facebook.com/%C4%90i%E1%BB%87n-L%E1%BA%A1nh-Phong-V%C3%A2n-517857555229057/"><span class="fb"></span><h6>Facebook</h6></a></li>
					</ul>
				</div>
				<div class="col-md-3 infor-left">
					<h3>Thông tin</h3>
					<ul>
						<li><a href="#"><p>Hàng mới</p></a></li>
						<li><a href="contact.html"><p>Liên hệ</p></a></li>
					</ul>
				</div>
				<div class="col-md-4 infor-left">
					<h3>Điện lạnh Phong Vân</h3>
					<h4>Chuyên hàng điện lạnh nội địa
						<span>máy lọc không khí, nồi cơm điện, máy lạnh...</span>
						Tp. Hồ Chí Minh, giao hàng toàn quốc</h4>
					<h5>Tel: 0909.896.378</h5>	
					<h5>Hộp thư: <a href="mailto:dienlanhfongvan@gmailc.om">dienlanhfongvan@gmail.com</a></h5>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{{ end }}
