{{ define "products" }}
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
				{{ with $g := .   }}
				{{ range $index, $product := $g.Products }}
					<div class="col-md-3 product-left">
						<div class="product-main">
							<a href="{{ $product.Url }}" class="mask"><img class="img-responsive zoom-img" src="{{ $product.Thumbnail }}" alt="" /></a>
							<div class="product-bottom">
								<div style="height:30px;">
									<h3>{{ $product.Name }}</h3>
								</div>
								<h4><span class="item_price">{{ $product.Price }}</span></h4>
							</div>
						</div>
					</div>
				{{ end }}
				{{ end }}
				</div>
			</div>
		</div>
	</div>
{{ end }}
